SECRET_KEY=your_secret_key_here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

DEFAULT_FROM_EMAIL=intranet@test.com

# OAuth configuration

OAUTH_CLIENT_ID=Your_OAuth_Client_Id
OAUTH_CLIENT_SECRET=Your_OAuth_Client_Secret

REQUEST_TOKEN_URL=Your_Request_Token
ACCESS_TOKEN_URL=Your_Token_Url
AUTHORIZE_URL=Authorize_Url
API_BASE_URL=Api_Base_url
