{% load static %}

{# Load the tag library #}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Intranet</title>

    <!-- Bootstrap core CSS -->
    {% bootstrap_css %}

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/layout.css" %}" />

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar shadow navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><h1>Intranet IAG</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="account" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> {{ request.user.get_full_name }}
                    </a>
                    <div class="dropdown-menu p-4" aria-labelledby="account">
                        <a class="btn btn-link dropdown-item" href="{% url 'accounts:logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </a>
                    </div>
                </li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <li class="na-item">
                        <a href="{% url 'accounts:login' %}" class="btn btn-link btn-light">
                            <i class="fas fa-user"></i> Login
                        </a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock content%}
    </div>

    <!-- Bootstrap core JavaScript -->
    {% bootstrap_javascript jquery='full' %}
    {% block script %}
    {% endblock script %}

</body>

</html>