{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-3">
          <div class="card">
            <a href="{% url 'access:access_list' %}">
              <img class="card-img-top" src="{% static 'images/acesso.jpg' %}" alt="imagem portaria iag">
            </a>
            <div class="card-body">
              <h5 class="card-title">Acesso</h5>
              <p class="card-text">
                Solicitação de acesso
              </p>
            </div>
          </div>
        </div>
      </div>      
    </div>
{% endblock content%}