<ul class="pagination">
    <li class="{% if not list.qs.has_previous %}disabled{% endif %}">
        <a href="{% if list.qs.has_previous %}?{{ request.GET.urlencode }}&page={{ list.qs.previous_page_number }}{% else %}#{% endif %}">
            <i class="material-icons">chevron_left</i>
        </a>
    </li>
    {% for item in page_list %}
        <li class="{% if forloop.counter == list.qs.number %}active{% else %}waves-effect{% endif %}">
            <a href="?{{ request.GET.urlencode }}&page={{ forloop.counter }}">{{ item }}</a>
        </li>
    {% endfor %}
    <li class="{% if not list.qs.has_next %}disabled{% endif %}">
        <a href="{% if list.qs.has_next %}?{{ request.GET.urlencode }}&page={{ list.qs.next_page_number }}{% else %}#{% endif %}">
            <i class="material-icons">chevron_right</i>
        </a>
    </li>
</ul>