{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h4>Detalhes do acesso</h4>

    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Autorização</b></span>
                    <div class="row">
                        <div class="col s6 m6">
                            <blockquote>
                                <span><b>Ativo:</b></span>
                                {% if access.enable %}
                                    <button class="btn btn-flat">
                                        Solicitação Ativa
                                        <i class="material-icons teal-text text-accent-4 left">check_circle</i>
                                    </button>
                                {% else %}
                                    <button class="btn btn-flat">
                                        Solicitação Desativada
                                        <i class="material-icons red-text left">not_interested</i>
                                    </button>
                                {% endif %}
                            </blockquote>
                            <blockquote>
                                <span><b>Status: </b></span>
                                {% if access.status == 'Autorizado' %}
                                    <button class="btn btn-flat">
                                        {{ access.status }}
                                        <i class="material-icons teal-text text-accent-4 left">check_circle</i>
                                    </button>
                                {% elif access.status == 'Para autorização' %}
                                    <button class="btn btn-flat">
                                        <i class="material-icons yellow-text left">access_time</i>
                                        {{ access.status }}
                                    </button>
                                {% elif access.status == 'Não autorizado' %}
                                    <button class="btn btn-flat">
                                        <i class="material-icons red-text left">not_interested</i>
                                        {{ access.status }}
                                    </button>
                                {% endif %}
                            </blockquote>
                        </div>
                        <div class="col s6 m6">
                            <blockquote>
                                    <b>Responsável: </b>{{ access.answerable }}
                            </blockquote>
                            <blockquote>
                                <b>Data de criação:</b> {{ access.created_at|date:'d/m/Y' }} <b>Horário:</b>{{ access.created_at|date:'H:i' }}
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Período</b></span>
                    <blockquote>
                        <b>Data inicial: </b>{{ access.period_from|date:'d/m/Y' }}
                    </blockquote>
                    <blockquote>
                        <b>Data final: </b>{{ access.period_to|date:'d/m/Y' }}
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Horário</b></span>
                    <blockquote>
                        <b>De: </b>{{ access.time_from|date:'H:i' }}
                    </blockquote>
                    <blockquote>
                        <b>Até: </b>{{ access.time_to|date:'H:i' }}
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Dados do visitante</b></span>
                    <div class="row">
                        <div class="col s6 m6">
                            <blockquote><b>Instituição: </b> {{ access.institution }}</blockquote>
                            <blockquote><b>Nome: </b> {{ access.name }}</blockquote>
                            <blockquote><b>Cargo: </b> {{ access.job }}</blockquote>
                            <blockquote><b>Email: </b> {{ access.email }}</blockquote>
                        </div>
                        <div class="col s6 m6">
                            <blockquote><b>Telefone: </b> {{ access.phone }} </blockquote>
                            <blockquote><b>Tipo de documento: </b> {{ access.doc_type }} </blockquote>
                            <blockquote><b>Número do documento: </b> {{ access.doc_number }} </blockquote>
                            <blockquote><b>Instituição: </b> {{ access.institution }}</blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Observação</b></span>
                    <blockquote>{{ access.observation }}</blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}