<p>Ativo {{ access.enable }}</p>
<p>Data inicial {{ access.period_from|date:'d/m/Y' }}</p>
<p>Data final {{ access.period_to|date:'d/m/Y' }}</p>
<p>Período de {{ access.time_from|date:'H:i' }} até às {{ access.time_to|date:'H:i' }}</p>
<p>Instituição {{ access.institution }}</p>
<p>Nome {{ access.name }}</p>
<p>Cargo {{ access.job }}</p>
<p>Email {{ access.email }} </p>
<p>Telefone {{ access.phone }} </p>
<p>Tipo de documento {{ access.doc_type }} </p>
<p>Número do documento {{ access.doc_number }} </p>
<p>Responsável {{ access.answerable }} </p>
<p>Observação {{ access.observation }} </p>
<p>Status {{ access.status }} </p>
<p>Data de criação {{ access.created_at }} </p>