{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    {% if actions_form.non_field_errors %}
        {% for error in actions_form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    <h4>Lista de acessos</h4>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <button type="button" class="btn btn-primary btn-sm btn-link text-light" data-toggle="modal" data-target="#search-form">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                        {% if perms.access.add_access %}
                            <a class="btn btn-primary btn-sm btn-link text-light" href="{% url 'access:new' %}" role="button">
                                <i class="fas fa-plus-circle"></i> Adicionar
                            </a>
                        {% endif %}
                        {% if perms.access.add_access %}
                            <button 
                                class="btn btn-primary btn-sm btn-link text-light" 
                                data-toggle="collapse" 
                                data-target="#action-form"
                                aria-expanded="false"
                                aria-controls="action-form"
                            >
                                <i class="fas fa-plus-circle"></i> Operações em lote
                            </button>    
                            <a href="{% url 'access:authorization_list' %}"
                                class="btn btn-primary btn-sm btn-link text-light" 
                                data-target="#action-form"
                                aria-expanded="false"
                            >
                                <i class="fas fa-plus-circle"></i>Autorizar aluno</a>    
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    <div id="search-form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="search-form" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Pesquisar acesso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" method="get">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        {{ list.form.status.label }}
                                        {{ list.form.status|add_class:"form-control" }}
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        {{ list.form.name.label_tag }}
                                        {{ list.form.name|add_class:"form-control" }}
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        {{ list.form.period_from.label_tag }}
                                        {{ list.form.period_from|add_class:"form-control" }}
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        {{ list.form.period_to.label_tag }}
                                        {{ list.form.period_to|add_class:"form-control" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="light-text btn btn-primary" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <form action="{% url 'access:access_list' %}" novalidate method="post">
                {% csrf_token %}
                <div class="collapse" id="action-form">
                    {% if perms.access.change_access %}
                        {% include 'access/actions_form.html' %}
                    {% endif %}
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                {% if perms.access.change_access %}
                                <input type="checkbox" name="access-list-select-all" id="checkall" onclick="window.checkall(this);">
                                {% endif %}
                            </th>
                            <th>Nome</th>
                            <th>Instituição</th>
                            <th>Período</th>
                            <th>Autorização</th>
                            <th>Detalhar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in list.qs %}
                            <tr>
                                <td>
                                    {% if perms.access.change_access %}
                                    <input type="checkbox" name="access" value="{{ row.pk }}" id="list-item-{{ row.pk }}">
                                    {% endif %}
                                </td>
                                <td>{{ row.name }}</td>
                                <td>{{ row.institution }}</td>
                                <td>{{ row.period_from|date:'d/m/Y' }} - {{ row.period_to|date:'d/m/Y' }}</td>
                                <td>
                                    {% if row.status == 'Autorizado' %}
                                        <span class="btn btn-link btn-success text-light btn-sm">{{ row.status }}</span>
                                    {% elif row.status == 'Para autorização' %}
                                        <span class="btn btn-link btn-warning text-light btn-sm">{{ row.status }}</span>
                                    {% elif row.status == 'Não autorizado' %}
                                        <span class="btn btn-link btn-danger text-light btn-sm">{{ row.status }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="{{ row.get_absolute_url }}">
                                        <i class="fas fa-info-circle"></i> Detalhar
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            {% include 'pagination.html' %}
        </div>
    </div>

{% endblock content %}