{% extends 'base.html' %}
{% load static %}

    {% block content %}
        <div class="container">
            <h3>Acesso</h3>
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}

                <form action="./new" novalidate method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col s12 m12">
                            <p>
                            <label>
                                {{ form.enable }}
                                <span>{{ form.enable.label }}</span>
                            </label>
                            </p>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field col s12">
                                {{ form.period_from.errors }}
                                {{ form.period_from }}
                                {{ form.period_from.label_tag }}
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field col s12">
                                {{ form.time_from.errors }}
                                {{ form.time_from }}
                                {{ form.time_from.label_tag }}
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field col s12">
                                {{ form.period_to.errors }}
                                {{ form.period_to }}
                                {{ form.period_to.label_tag }}
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field col s12">
                                {{ form.time_to.errors }}
                                {{ form.time_to }}
                                {{ form.time_to.label_tag }}
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field col s12">
                                {{ form.name.errors }}
                                {{ form.name }}
                                {{ form.name.label_tag }}
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field col s12">
                                {{ form.job.errors }}
                                {{ form.job }}
                                {{ form.job.label_tag }}
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field col s12">
                                {{ form.email.errors }}
                                {{ form.email }}
                                {{ form.email.label_tag }}
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field col s12">
                                {{ form.phone.errors }}
                                {{ form.phone }}
                                {{ form.phone.label_tag }}
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field col s12">
                                {{ form.institution.errors }}
                                {{ form.institution }}
                                {{ form.institution.label_tag }}
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field col s12">
                                {{ form.answerable.errors }}
                                {{ form.answerable }}
                                {{ form.answerable.label_tag }}                        
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field col s12">
                                {{ form.doc_type.errors }}
                                {{ form.doc_type }}
                                {{ form.doc_type.label_tag }}                        
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field col s12">
                                {{ form.doc_number.errors }}
                                {{ form.doc_number }}
                                {{ form.doc_number.label_tag }}
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="input-field col s12">
                                {{ form.observation.errors }}
                                {{ form.observation }}
                                {{ form.observation.label_tag }}                        
                            </div>
                        </div>
                        <button type="submit" class="btn waves-light waves-effect">Enviar</button>
                    </div>
                </form>
        </div>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{% static 'js/select.js' %}"></script>
{% endblock content %}