{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

    <h4>Conceder Acesso</h4>

    <button 
        class="btn btn-primary btn-sm btn-link text-light" 
        data-toggle="collapse" 
        data-target="#action-form"
        aria-expanded="false"
        aria-controls="action-form"
    >
    <i class="fas fa-plus-circle"></i>Buscar</button>

    <form action="{% url 'access:authorization_list' %}">
        {{ form.name.label_tag }}
        {{ form.name|add_class:"form-control" }}

        {{ form.num_doc.label }}
        {{ form.num_doc|add_class:"form-control" }}
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nº USP</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Atividade</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in auth_list %}
                <tr>
                    <td>{{ aluno.doc_num }}</td>
                    <td>{{ aluno.nome }}</td>
                    <td>{{ aluno.email }}</td>
                    <td>{{ aluno.cargo }}</td>
                    <td><button class="btn">Acesso</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}