{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

    <h4>Conceder Acesso</h4>
    <button 
        class="btn btn-primary btn-sm btn-link text-light" 
        data-toggle="collapse" 
        data-target="#action-form"
        aria-expanded="false"
        aria-controls="action-form"
    >
    <i class="fas fa-plus-circle"></i>Buscar</button>

    <form action="{% url 'access:authorization_list' %}" method="POST">
        
        {% csrf_token %}

        {{ form.name.label_tag }}
        {{ form.name|add_class:"form-control" }}

        {{ form.num_doc.label }}
        {{ form.num_doc|add_class:"form-control" }}

        <button class="btn btn-primary" type="submit">Buscar</button>

    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nº USP</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Atividade</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in auth_list %}
                <tr>
                    <td>{{ aluno.codpes }}</td>
                    <td>{{ aluno.nompes }}</td>
                    <td>{{ aluno.codema }}</td>
                    <td>{{ aluno.tipvinext }}</td>
                    <td>
                        <button 
                            type="button" 
                            class="btn btn-sm btn-link action" 
                            data-toggle="modal" 
                            data-target="#access-form"
                        >
                            Acesso
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'access/modal_form.html' %}
{% endblock content %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('.action').click(function(){
                let row = $(this).closest('tr');
                let codpes = row.children('td:eq(0)').text();
                let nompes = row.children('td:eq(1)').text();
                let codema = row.children('td:eq(2)').text();
                let tipvinext = row.children('td:eq(3)').text();

                $('#id_doc_type').val('USP');
                $('#id_doc_number').val(codpes);
                $('#id_name').val(nompes);
                $('#id_job').val(tipvinext);
                $('#id_email').val(codema);
                $('#id_institution').val('IAG');
            });
        });
    </script>
{% endblock script %}