{% extends 'base.html' %}

{% block content %}
<div class="container">

    <h4>Lista de acessos</h4>

    <form action="" method="get">
        <div class="row">
            <div class="col s12 m3">
                <div class="input-field">
                    {{ list.form.name.erros }}
                    {{ list.form.name }}
                    {{ list.form.name.label_tag }}
                </div>
            </div>    
            <div class="col s12 m3">
                <div class="input-field">
                    {{ list.form.period_from.erros }}
                    {{ list.form.period_from }}
                    {{ list.form.period_from.label_tag }}
                </div>
            </div>
            <div class="col s12 m3">
                <div class="input-field">
                    {{ list.form.period_to.erros }}
                    {{ list.form.period_to }}
                    {{ list.form.period_to.label_tag }}
                </div>
            </div>
            <div class="col s12 m3">
                <div class="input-field">
                    {{ list.form.enable.erros }}
                    <label>
                        {{ list.form.enable }}
                        <span>{{ list.form.enable.label }}</span>
                    </label>
                </div>
            </div>
        </div>
        <button class="btn waves-effect" type="submit">Enviar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Instituição</th>
                <th>Período</th>
                <th>Autorização</th>
            </tr>
        </thead>
        <tbody>
            {% for row in list.qs %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.institution }}</td>
                    <td>{{ row.period_from|date:'d/m/Y' }} - {{ row.period_to|date:'d/m/Y' }}</td>
                    <td>{{ row.enable }}</tr>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>    
{% endblock content %}